html {
    background-color: tomato;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    box-sizing: border-box;
    background-color: wheat;
    width: 600px;
    height: 600px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    box-sizing: border-box;
    border: 3px solid white;
    background-color: blue;
    width: 100px; 
    height: 100px;
    margin: auto;
    border-radius: 10px;
}

#square-mid {
    box-sizing: border-box;
    border: 3px dashed black;
    background-color: red;
    width: 400px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
}
